<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> HoldNumber </th>
        <th> Price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${ticketList}">
        <td><span th:text="${ticket.id}"> ID </span></td>
        <td><span th:text="${ticket.holdNumber}"> HoldNumber </span></td>
        <td><span th:text="${ticket.price}"> Price </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>