<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> From </th>
        <th> To </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flightList}">
        <td><span th:text="${flight.id}"> ID </span></td>
        <td><span th:text="${flight.destinationFrom}"> From </span></td>
        <td><span th:text="${flight.destinationTo}"> To </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>