<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airline Manager Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="/airlineManager.js"></script>
</head>

<body>
<!-- Header -->
<header class="p-3 mb-2 bg-success text-white">
    <h1>Airline Manager Panel</h1>
</header>

<!-- Content -->
<div class="row">
    <!-- Left -->
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-aircrafts-tab" data-toggle="pill" href="#v-pills-aircrafts" role="tab" aria-controls="v-pills-aircrafts" aria-selected="true">Aircrafts</a>
            <a class="nav-link" id="v-pills-flights-tab" data-toggle="pill" href="#v-pills-flights" role="tab" aria-controls="v-pills-flights" aria-selected="false">Flights</a>
            <a class="nav-link" id="v-pills-tickets-tab" data-toggle="pill" href="#v-pills-tickets" role="tab" aria-controls="v-pills-tickets" aria-selected="false">Tickets</a>
        </div>
    </div>
    <!-- Right -->
    <div class="col-10 bg-light text-dark">
        <div class="tab-content" id="v-pills-tabContent">
            <!-- Aircrafts -->
            <div class="tab-pane fade show active" id="v-pills-aircrafts" role="tabpanel" aria-labelledby="v-pills-aircrafts-tab">
                <!-- Title -->
                <h1>Aircrafts</h1>
                <!-- Aircrafts table or new aircraft select -->
                <ul class="nav nav-tabs" id="aircraftsTabs" role="tablist">
                    <!-- Aircrafts table -->
                    <li class="nav-item">
                        <a class="nav-link active" id="aircraftstable-tab" data-toggle="tab" href="#aircraftstable" role="tab" aria-controls="aircraftstable" aria-selected="true">Aircrafts Table</a>
                    </li>
                    <!-- New Aircraft -->
                    <li class="nav-item">
                        <a class="nav-link" id="newaircraft-tab" data-toggle="tab" href="#newaircraft" role="tab" aria-controls="newaircraft" aria-selected="false">New Aircraft</a>
                    </li>
                </ul>
                <!-- Aircrafts table or new aircraft -->
                <div class="tab-content" id="myTabContent">
                    <!-- Aircrafts table -->
                    <div class="tab-pane fade show active" id="aircraftstable" role="tabpanel" aria-labelledby="aircraftstable-tab">
                        <!-- Title -->
                        <h5>All Aircrafts</h5>
                        <!-- Table -->
                        <div class="container-fluid bg-white text-dark">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col"> ID </th>
                                    <th scope="col"> Brand </th>
                                    <th scope="col"> Model </th>
                                    <th scope="col"> Board Number </th>
                                    <th scope="col"> Production Year </th>
                                    <th scope="col"> Flying Range </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody id="tableAircrafts">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- New Aircraft -->
                    <div class="tab-pane fade" id="newaircraft" role="tabpanel" aria-labelledby="newaircraft-tab">
                        <!-- Title -->
                        <h5>Add new Aircraft</h5>
                        <!-- Form -->
                        <div class="container bg-white text-dark">
                            <form id="addAircraftForm">

                                <div class="form-group">
                                    <label for="addBrand" class="col-form-label"> Brand </label>
                                    <input type="text" class="form-control"
                                           id="addBrand" placeholder="Brand" name="brand"
                                           value=""/>
                                </div>

                                <div class="form-group">
                                    <label for="addModel" class="col-form-label"> Model </label>
                                    <input type="text" class="form-control"
                                           id="addModel" placeholder="Model" name="model"
                                           value=""/>
                                </div>

                                <div class="form-group">
                                    <label for="addBoardNumber" class="col-form-label"> Board Number </label>
                                    <input type="text" class="form-control"
                                           id="addBoardNumber" placeholder="Board Number" name="boardNumber"
                                           value=""/>
                                </div>

                                <div class="form-group">
                                    <label for="addProductionYear" class="col-form-label"> Production Year </label>
                                    <input type="date" class="form-control"
                                           id="addProductionYear" placeholder="Production Year" name="productionYear"
                                           value=""/>
                                </div>

                                <div class="form-group">
                                    <label for="addFlyingRange" class="col-form-label"> Flying Range </label>
                                    <input type="number" class="form-control"
                                           id="addFlyingRange" placeholder="Flying Range" name="flyingRange"
                                           value=""/>
                                </div>

                                <button type="button" class="btn btn-success" id="addAircraft"
                                        onclick="addAircraftData()">Add new Aircraft
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Flights -->
            <!-- Tickets -->
        </div>
    </div>
</div>

<!-- Edit Aircraft Modal -->
<div class="editAircraftDiv">
    <div class="modal fade" id="editAircraft" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Aircraft</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editAircraftForm">

                        <div class="form-group">
                            <label for="editId" class="col-form-label"> ID </label>
                            <input type="text" readonly="readonly" class="form-control"
                                   id="editId" name="id" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="editBrand" class="col-form-label"> Brand </label>
                            <input type="text" class="form-control"
                                   id="editBrand" placeholder="Brand" name="brand" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="editModel" class="col-form-label"> Model </label>
                            <input type="text" class="form-control"
                                   id="editModel" placeholder="Model" name="model" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="editBoardNumber" class="col-form-label"> Board Number </label>
                            <input type="text" class="form-control"
                                   id="editBoardNumber" placeholder="Board Number" name="boardNumber" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="editProductionYear" class="col-form-label"> Production Year </label>
                            <input type="date" class="form-control"
                                   id="editProductionYear" placeholder="Production Year" name="productionYear" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="editFlyingRange" class="col-form-label"> Flying Range </label>
                            <input type="number" class="form-control"
                                   id="editFlyingRange" placeholder="Flying Range" name="flyingRange" value=""/>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"
                            onclick="updateAircraft()">Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Aircraft Modal -->
<div class="deleteAircraftDiv">
    <div class="modal fade" id="deleteAircraft" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delModalLabel">Delete Aircraft</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="deleteUserForm">

                        <div class="form-group">
                            <label for="deleteId" class="col-form-label"> ID </label>
                            <input type="text" readonly="readonly" class="form-control"
                                   id="deleteId" name="id" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="deleteBrand" class="col-form-label"> Brand </label>
                            <input type="text" readonly="readonly" class="form-control"
                                   id="deleteBrand" name="brand" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="deleteModel" class="col-form-label"> Model </label>
                            <input type="text" readonly="readonly" class="form-control"
                                   id="deleteModel" name="model" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="deleteBoardNumber" class="col-form-label"> Board Number </label>
                            <input type="text" readonly="readonly" class="form-control"
                                   id="deleteBoardNumber" name="boardNumber" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="deleteProductionYear" class="col-form-label"> Production Year </label>
                            <input type="date" readonly="readonly" class="form-control"
                                   id="deleteProductionYear" name="productionYear" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="deleteFlyingRange" class="col-form-label"> Flying Range </label>
                            <input type="number" readonly="readonly" class="form-control"
                                   id="deleteFlyingRange" name="flyingRange" value=""/>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" onclick="deleteAircraftById()">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

