<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new aircraft</title>
</head>
<body>

<form th:method="POST" th:action="@{/airline_manager/aircrafts}" th:object="${aircraft}">

    <label for="brand"> Brand </label>
    <input type="text" th:field="*{brand}" id="brand"/>
    <br><br>

    <label for="model"> Model </label>
    <input type="text" th:field="*{model}" id="model"/>
    <br><br>

    <label for="boardNumber"> Board Number </label>
    <input type="text" th:field="*{boardNumber}" id="boardNumber"/>
    <br><br>

    <label for="productionYear"> Production Year (dd.MM.yyyy) </label>
    <input type="text" th:field="*{productionYear}" id="productionYear"/>
    <br><br>

    <label for="flyingRange"> Flying Range </label>
    <input type="number" th:field="*{flyingRange}" id="flyingRange"/>
    <br><br>

    <input type="submit" value="Add new aircraft"/>
</form>

</body>
</html>