<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
</head>
<body>

<h2>Flights</h2>
<br>

<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> From </th>
        <th> To </th>
        <th> Operations </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flightList}">
        <td><span th:text="${flight.id}"> ID </span></td>
        <td><span th:text="${flight.destinationFrom}"> From </span></td>
        <td><span th:text="${flight.destinationTo}"> To </span></td>
        <td>
            <a th:href="@{/airline_manager/flights/update/{id}(id=${flight.id})}">
                <input type="button" value="Update"/>
            </a>

            <a th:href="@{/airline_manager/flights/delete/{id}(id=${flight.id})}">
                <input type="button" value="Delete"/>
            </a>

        </td>
    </tr>
    </tbody>
</table>

<br><br>

<input type="button" value="Add new flight" onclick="window.location.href = '/airline_manager/flights/add'"/>

</body>
</html>