<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
</head>
<body>

<h2>Flights</h2>
<br>

<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Departure Date </th>
        <th> Departure Time </th>
        <th> Arrival Date and Time </th>
        <th> Destination From </th>
        <th> Destination To </th>
        <th> Flight Status </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flightList}">
        <td><span th:text="${flight.id}"> ID </span></td>
        <td><span th:text="${flight.departureDate}"> Departure Date </span></td>
        <td><span th:text="${flight.departureTime}"> Departure Time </span></td>
        <td><span th:text="${flight.arrivalDateTime}"> Arrival Date and Time </span></td>
        <td><span th:text="${flight.destinationFrom}"> Destination From </span></td>
        <td><span th:text="${flight.destinationTo}"> Destination To </span></td>
        <td><span th:text="${flight.flightStatus}"> Flight Status </span></td>
        <td>
            <a th:href="@{/airline_manager/flights/{id}(id=${flight.id})}">
                <input type="button" value="Show"/>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<br><br>

<input type="button" value="Add new flight" onclick="window.location.href = '/airline_manager/flights/add'"/>

</body>
</html>