<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Flight</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> From </th>
        <th> To </th>
    </tr>
    </thead>
    <tbody>
        <td><span th:text="${flight.id}"> ID </span></td>
        <td><span th:text="${flight.destinationFrom}"> From </span></td>
        <td><span th:text="${flight.destinationTo}"> To </span></td>
    </tr>
    </tbody>
</table>

<br>

<a th:href="@{/airline_manager/flights/{id}/edit(id=${flight.id})}">
    <input type="button" value="Edit"/>
</a>

<br>

<form th:method="DELETE" th:action="@{/airline_manager/flights/{id}(id=${flight.id})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>