<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">

    <title>Show Flight</title>
</head>
<body>

<table class="table">
    <thead>
    <tr>
        <th> ID </th>
        <th> Departure Date </th>
        <th> Departure Time </th>
        <th> Arrival Date and Time </th>
        <th> Destination From </th>
        <th> Destination To </th>
        <th> Flight Status </th>
    </tr>
    </thead>
    <tbody>
        <td><span th:text="${flight.id}"> ID </span></td>
        <td><span th:text="${flight.departureDate}"> Departure Date </span></td>
        <td><span th:text="${flight.departureTime}"> Departure Time </span></td>
        <td><span th:text="${flight.arrivalDateTime}"> Arrival Date and Time </span></td>
        <td><span th:text="${flight.destinationFrom}"> Destination From </span></td>
        <td><span th:text="${flight.destinationTo}"> Destination To </span></td>
        <td><span th:text="${flight.flightStatus}"> Flight Status </span></td>
    </tr>
    </tbody>
</table>

<br>

<a th:href="@{/airline_manager/flights/{id}/edit(id=${flight.id})}">
    <input type="button" value="Edit"/>
</a>

<br>

<form th:method="DELETE" th:action="@{/airline_manager/flights/{id}(id=${flight.id})}">
    <input type="submit" value="Delete"/>
</form>

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>