<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Flight</title>
</head>
<body>

<form th:method="PUT" th:action="@{/airline_manager/flights}" th:object="${flight}">

    <input type="hidden" th:field="*{id}" id="id"/>
    <br><br>

    <label for="departureDate"> Departure Date: </label>
    <input type="date" th:field="*{departureDate}" id="departureDate"/>
    <br><br>

    <label for="departureTime"> Departure Time: </label>
    <input type="time" th:field="*{departureTime}" id="departureTime"/>
    <br><br>

    <label for="arrivalDateTime"> Arrival Date and Time: </label>
    <input type="datetime-local" th:field="*{arrivalDateTime}" id="arrivalDateTime"/>
    <br><br>

    <label for="destinationFrom"> Destination From: </label>
    <input type="text" th:field="*{destinationFrom}" id="destinationFrom"/>
    <br><br>

    <label for="destinationTo"> Destination To: </label>
    <input type="text" th:field="*{destinationTo}" id="destinationTo"/>
    <br><br>

    <select name="flightStatus">
        <option th:each="flightStatus : ${T(app.entities.FlightStatus).values()}"
                th:value="${flightStatus}" th:text="${flightStatus}"></option>
    </select>
    <br><br>

    <input type="submit" value="Update"/>
</form>

</body>
</html>